.sticky-timer {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-timer .text {
  display: inline-block;
  padding: 10px;
}
.sticky-timer .timer {
  display: inline-block;
  padding: 10px;
}